- breadcrumb_title "Repository Settings"
- page_title "Repository"
- @content_class = "limit-container-width" unless fluid_layout

- content_for :page_specific_javascripts do
  = webpack_bundle_tag('common_vue')

= render "projects/push_rules/index"
= render "projects/mirrors/show"

-# Protected branches & tags use a lot of nested partials.
-# The shared parts of the views can be found in the `shared` directory.
-# Those are used throughout the actual views. These `shared` views are then
-# reused in EE.
- if @project.feature_available?(:protected_refs_for_users, current_user)
  .js-protected-refs-for-users
    = render "projects/protected_branches/ee/index"
    = render "projects/protected_tags/ee/index"
- else
  = render "projects/protected_branches/index"
  = render "projects/protected_tags/index"

= render @deploy_keys

= render 'shared/promotions/promote_repository_features'
